.App {
  text-align: center;
}

.fifi { color: blueviolet;}

.red {
  color: red;
}

.bold{
  font-weight: bold;
}

/* background-color:${props => props.alt ? 'red' : 'green'};
  color: white;
  font: inherit;
  border: 1px solid blue;
  padding: 8px;
  cursor: pointer;

  &:hover{
    background-color: ${props => props.alt ? 'salmon' : 'lightgreen'};;
    color: black; */